.settings/*
out/*
.qt*
Makefile
simulations/*
*.exe
.oppbuildspec
.cmdenv-log
.project
.metadata/*
out/*
.qtenv*
.alias_pusher.txt
*.img
*.sif
*sin_runner*
*sbatch
example.txt
src/*_m.h
src/*_m.cc
results/*
res/*
*.log
*.res
Distributed_SFC_migration


